* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

#secHead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;

  #head1 {
    position: absolute;
    z-index: -1;
  }
  #head1 p {
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 0.5rem;
  }

  #head2 p {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-weight: bold;

    span {
      color: #ffb400;
    }
  }
}

#secBody {
  margin-top: 6rem;
  width: 92%;
  display: flex;

  #secBody1 {
    width: 50%;

    #infoBody {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 0.8rem;

      #firstName,
      #lastName {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }
    }

    #download {
      border: 1px solid #ffb400;
      width: 32%;
      height: 3rem;
      margin-left: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 3.5rem;
      padding-left: 0.8rem;
      font-weight: bold;

      #Dsvg {
        border: 1px solid #ffb400;
        height: 100%;
        border-radius: 100%;
        width: 22%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffb400;
      }
    }

    #download:hover {
      background: #ffb400;
      transition: all 0.9s;
      cursor: pointer;
    }
  }

  #secBody2 {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: center;
    padding: 0.5rem;
    font-size: 20px;

    div {
      width: 45%;
      border-radius: 0.5rem;
      box-shadow: 0rem 0rem 0.05rem 0.05rem #4b4b4b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .details {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        gap: 0.3rem;
      }

      hr {
        width: 8%;
        border: 1px solid rgb(119, 119, 119);
      }

      span {
        color: #ffb400;
        font-size: 50px;
        font-weight: bolder;
      }
    }
  }
}

//?? Mobile View (320-480px)

@media screen and (min-width: 320px) and (max-width: 480px) {
  #secHead {
    margin-top: 4rem;
    width: 15rem;
    margin-left: auto;

    #head1 p {
      font-size: 40px;
    }

    #head2 p {
      font-size: 25px;
    }
  }

  #secBody {
    width: 98%;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 0.5rem 0rem;

    #secBody1 {
      width: 100%;
      padding: 1.5rem 0;

      #infoBody {
        width: 100%;
        font-size: 10px;
        margin-bottom: 1rem;
        display: flex;
        padding: 0 0.1rem;

        #firstName,
        #lastName {
          gap: 0.8rem;
          font-size: 10px;
          padding: 0.3rem;
        }
      }

      #download {
        width: 45%;
        font-size: 14px;
        height: 2rem;
        font-size: 11px;
        margin-left: 4rem;
      }
    }

    #secBody2 {
      width: 95%;
      margin: 0 auto;
      font-size: 10px;
      padding: 1.2rem 0rem;

      div {
        width: 45%;
        padding: 0.2rem;

        span {
          font-size: 30px;
        }
      }
    }
  }
}
