* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

#contactHead {
  margin: 1.5rem auto;

  #head1 {
    z-index: -1;
  }
  #head1 p {
    letter-spacing: 0.5rem;
  }

  #head2 p {
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-weight: bold;

    span {
      color: #ffb400;
    }
  }
}

.contactBody {
  width: 95%;

  .addressBody {
    width: 40%;

    .communicationHead {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .contact-details {
      .contact-mail,
      .contact-phone,
      .location {
        padding: 0.8rem;
        gap: 1rem;
      }
    }
  }

  .formBody {
    width: 60%;
  }
}

.map-icon svg,
.mail-icon svg,
.call-icon svg {
  fill: #ffb400;
  font-size: 2.5rem;
}


