
#homeSec{
  // border: 1px solid red;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Poppins";

  #profileImgDiv{
    // border: 1px solid red;
    height: 100%;
    width: 40%;
    background:  linear-gradient(75deg, #FFB400 43%, transparent 43.5%);
    display: flex;
    justify-content: center;
  
    #imageDiv{
      // border: 1px solid red;
      width: 80%;
      height: 80%;
      margin:10% auto 0 auto;
      background: #040404;
      border-radius: 1.7rem;
      overflow: hidden;
    }
  
    img{
      height: 100%;
      // width: 100%;
      border-radius: 1.7rem;
    }
  }

  #homeContent{
    width: 60%;
    display: flex;
    flex-direction: column;

    span{
      // border: 1px solid red;
      color: #FFB400;
      display: flex;
      align-items: center;
      gap: 1.3rem;
      margin-bottom: 1.2rem;
    }

    #hleId{
      border: 1px solid #FFB400;
      width: 3%;
      height: 0.35vh;
      background-color: #FFB400;
      border-radius: 3rem;
    }

    #bodyContent{
      // border: 1px solid red;
      font-size: 20px;
      width:78%;
      text-align: justify;
    }

    #middleContent{
      // border: 1px solid red;
      // display: flex;
      // justify-content: center;
    }

  }


}

@media screen and (min-width:320px) and (max-width:480px){

  #homeSec{
    // border: 1px solid blue;
    flex-direction: column;
    width: 100%;

    #homeContent{
      width: 100%;

      span{
        font-size: 21px;
        justify-content: center;
      }

      #hleId{
        display: none;
      }

      #middleContent{
        font-size: 18px;
        display: flex;
        justify-content: center;
      }

      #bodyContent{
        // border: 1px solid red;
        width: 95%;
        margin: auto;
        font-size: 13px;
        text-align: justify;
        // color: red;
      }
    }



    #profileImgDiv{
      // border: 1px solid green;
      height: 40%;
      width: 99%;
      background:none;

      #imageDiv{
        // border: 1px solid red;
        width: 8rem;
        height: 8rem;
        margin:3% auto 0 auto;
        background: #040404;
        border-radius: 100%;
        box-shadow: 0.05rem 0.05rem 0.05rem 0.2rem rgba(169, 163, 163, 0.34);
        overflow: hidden;
        display: flex;
        justify-content: center;
      }
    
      img{
        // height: 80%;
        width: 150%; 
        margin-left: 2.5rem;
      }
    }

    
  } 
  

}




