
#homeSec{
  // border: 1px solid red;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Poppins";

  #profileImgDiv{
    // border: 1px solid red;
    height: 100%;
    width: 40%;
    background:  linear-gradient(75deg, #FFB400 43%, transparent 43.5%);
  
    #imageDiv{
      // border: 1px solid red;
      width: 80%;
      margin:10% auto 0 auto;
      background: #040404;
      border-radius: 1.7rem;
      box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem black;
    }
  
    img{
      height: 100%;
      width: 95%;
    }
  }

  #homeContent{
    width: 60%;
    display: flex;
    flex-direction: column;

    span{
      color: #FFB400;
      display: flex;
      align-items: center;
      gap: 1.3rem;
    }


    #hleId{
      border: 1px solid #FFB400;
      width: 3%;
      height: 0.35vh;
      background-color: #FFB400;
      border-radius: 3rem;
    }

  }


}




