*{
  margin: 0;
  padding: 0;
}

#navId{
  // border: 1px solid red;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
  height: 99.7vh;
  gap: 1.7rem;
  color: #646464;

  #sun{
    margin: 1.2rem 0 3rem 0;
    display: flex;
    flex-direction: column;
  }

  #moon{
    position: absolute;
    top: 1.17rem;
    display: none;
  }
}