*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

#navId{
  // border: 1px solid red;
  position: fixed;
  right: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 99.7vh;
  gap: 1.7rem;
  color: #646464;
  top: 0;



  #sun{
    margin: 1.2rem 0 3rem 7rem;
    display: flex;
    flex-direction: column;
  }

  #moon{
    position: absolute;
    top: 5.7rem;
    right: 0.5rem;
    display: none;
  }
}

a{
  text-decoration: none;
  display: flex;
  // border: 1px solid blue;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1.8rem;
  padding-left: 0.2rem;
  transition: all 0.9s;
}

a p{
  // border: 1px solid red;
  margin-left: 0.9rem;
  visibility: hidden;
  // display: none;
}



.active .navIcons{
  background:#FFB400;
}

a:hover .navIcons,a:hover{
  background:#FFB400;
}

a:hover p{
  transition: all 0.9s;
  visibility: visible;
}


 a:hover{
  transition: all 0.9s;
}



@media screen and (min-width:320px) and (max-width:480px){

  #navId{
    // border: 1px solid red;
    top: 88%;
    height: 12%;
    width: 100%;
    flex-direction: row;
    gap: 0.3rem;
    right: 0;
    left: 0;
    background: #2B2A2A;

    #sun{
      margin: 0rem;
      position: absolute;
      top: -32rem;
      right: 0.3rem;
    }
  
    #moon{
      // border: 1px solid red;
      top: -32rem;
      right: 0.3rem;
    }

    a:hover{
      background:none;
    }


  }
  
}

