*{
  margin: 0;
  padding: 0;
}

#navId{
  // border: 1px solid red;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
  height: 99.7vh;
  gap: 1.7rem;
  color: #646464;



  #sun{
    margin: 1.2rem 0 3rem 0;
    display: flex;
    flex-direction: column;
  }

  #moon{
    position: absolute;
    top: 1.17rem;
    display: none;
  }
}

a{
  border-radius: 100%;
}

.active .navIcons{
  background-color: #FFB400;
}

@media screen and (min-width:320px) and (max-width:480px){

  #navId{
    // border: 1px solid red;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 85%;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    margin: auto;
    height: 12%;
    gap: 0.5rem;

    #sun{
      margin: 0rem;
      position: absolute;
      top: -550%;
      right: 3%;
    }
  
    #moon{
      top: -550%;
      right: 3%;
    }


  }
  
}