.submit-btn-div {
  .submit-btn {
    border: 1px solid #ffb400;
    border-radius: 2.5rem;
    padding: 0;
    width: 37%;
    display: flex;
    justify-content: space-between;
    margin: 1.3rem auto;
    height: 3.5rem;
    cursor: pointer;
    .tele-icon {
      height: 100%;
      width: 20%;
      border-radius: 35px;
    }
  }

  .submit-btn:hover {
    border: 1px solid #ffb400;
    background-color: #ffb400;
    transition: all 1.2s;
  }

  p {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .userForm {
    .name-email-textfield {
      gap: 0.3rem;
    }

    .submit-btn-div {
      padding-bottom: 1.2rem;
      .submit-btn {
        width: 82%;
      }

      p {
        padding-left: 0.9rem;
      }
    }
  }
}
