.userForm {
  .css-i4bv87-MuiSvgIcon-root {
    height: 100%;
    width: 3rem;
    margin-right: -0.79rem;
    background-color: #ffb400;
  }

  .submit-btn:hover {
    border: 1px solid #ffb400;
    background-color: #ffb400;
    transition: all 1.2s;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .userForm {
    .name-email-textfield {
      gap: 0.3rem;
    }

    .submit-btn{
      width: 80%;
    }
  }
}
